$header-subrayado: 1px solid orange;
$menu-color: #FFA726;
$bg-submenu: #FFF1E1;
$color-black: black;
$bg-body: linear-gradient(50deg, #FFD190 0%, #FFD190 25%, #F2D5F3 100%);
$menu-textcolor: #FF9900 !important;
$submenu-textcolor: #FF6633 !important;
