$header-subrayado: 1px solid orange;
$menu-color: #FFA726;
$bg-submenu: #66FF66;
$color-black: black;
$bg-body: linear-gradient(to bottom, #a8ff78, #78ffd6);
$menu-textcolor: #FF9900 !important;
$submenu-textcolor: #FF6633 !important;